  body {
            font-family: Arial, sans-serif;
        margin: 0;
          line-height: 1.6;
        background: white;
    color: black;        }
   header {
            background-image: url(general\ image.jpeg);
     background-repeat: no-repeat;
       height: 150px;
     background-size: cover;
            padding: 20px;
       text-align: center;
   background-position: center top;
        color: #fff;
        }

        nav a {
            color: #ccc;
           }

 section {
       padding: 40px 20px;
     max-width: 1000px;
     margin: auto;
        }

  h2 {
     border-bottom: 2px solid black;
    padding-bottom: 5px;
        }

  .predator {
        margin-top: 40px;
        padding: 20px;
        border: 5px solid black;
        border-radius: 15px;
        }

     .stats {
        display: flex;
        width: fit-content;
        flex-direction: row;
        gap: 10px;
        margin-top: 15px;
        }

        .stat {
            background: rgb(34, 179, 189);
            padding: 10px;
            border-radius: 5px;
            text-align: center;
        }

        table {
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #333;
            padding: 10px;
            text-align: center;
        }

        th {
            background: #1a1a1a;
        }

        .quiz {
            margin-top: 30px;
            padding: 20px;
            background: rgb(2, 2, 45);
            border-radius: 8px;
            color: aliceblue;
        }

        button {
            margin-top: 10px;
            padding: 8px 15px;
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background: #555;
        }
